<div class="flag">
	<div class="flag-title">СООТНОШЕНИЕ <span class="flag-proportion">{{this.size}}</span></div>
	<div class="flag-image">
		{{{this.svg}}}
	</div>
	<div class="flag-color">
		<div class="flag-color-box"></div>
		<div class="flag-color-code selectable">#ЦВЕТ</div>
	</div>
	<div class="flag-rgb">
		<div class="flag-rgb-red flag-rgb-color">КРАСНЫЙ: <div class="selectable">_</div></div>
		<div class="flag-rgb-green flag-rgb-color">ЗЕЛЕНЫЙ: <div class="selectable">_</div></div>
		<div class="flag-rgb-blue flag-rgb-color">СИНИЙ: <div class="selectable">_</div></div>
	</div>
</div>