<div class="header">
	<div class="header-type">{{type}}</div>
	<div class="header-arrow" style="left: 182px; top: 12px; font-size: 12px;">►</div>
	<div class="header-subtype">{{subtype}}</div>
	<div class="header-arrow" style="left: 362px; top: 12px; font-size: 12px;">►</div>
	
	<div class="header-bloc">
		<div class="header-bloc-center">
			{{title}}
			<img class="header-bloc-icon" src="{{icon}}">
		</div>
		<div class="header-bloc-edit">ПРАВКА</div>
	</div>
</div>