<div class="background"></div>
<div class="header">
	<div class="header-title">{{SITE}}</div>
	<a href="/главная" class="header-to-main">
		<span class="header-to-main-text">НА ГЛАВНУЮ</span>
		<img class="header-to-main-icon" src="images/icons/home.svg">
	</a>
	<div class="header-contacts">
		<span class="header-contacts-number">{{NUMBER}}</span>
		<div class="header-contacts-icons">
			<img class="header-contacts-icon-telephone" src="images/icons/telephone.png">
			<img class="header-contacts-icon-whatsapp" src="images/icons/whatsapp.png">
		</div>
	</div>
</div>