<div id="main">
	<div id="menu-title">{{TITLE}}</div>
	<div id="menu-number">
		<div id="menu-number-text">{{NUMBER}}</div>
		<div id="menu-number-icons">
			<img src="images/icons/phone">
			<img src="images/icons/whatsapp">
		</div>
	</div>
</div>