<a href="tel:{{NUMBER_FORMAT NUMBER}}" class="contacts">
	<span class="contacts-number">{{NUMBER}}</span>
	<div class="contacts-icons">
		<img class="contacts-icon-telephone" src="images/icons/telephone.png">
		<img class="contacts-icon-whatsapp" src="images/icons/whatsapp.png">
	</div>
</a>