<div class="header">
	<div class="title-gray"></div>
	<a href="/главная" class="header-to-main white-button">
		<span class="header-to-main-text">На главную</span>
		<img class="header-to-main-icon" src="images/icons/home.svg">
	</a>
	{{> mobile/contacts}}
</div>